<div id="nav">

	<ul id="pagenav">
		<li><h1 class="sitetitle"><a href="{{ site.baseurl }}" class="sitetitle">{{ site.name }}</a></h1></li>
		<li><a href="{{ site.baseurl }}about">About &amp; Contact</a></li>
	</ul>

	<ul id="filtering">
		<li>Filter:</li>
		<li><a href="#" data-filter=".advertising">Advertising</a></li>
		<li><a href="#" data-filter=".articles">Articles</a></li>
		<li><a href="#" data-filter="*">All</a></li>
	</ul>

	{% if page.next.url or page.previous.url %}
	<ul id="piecenav">
		{% if page.next.url %}
		<li><a href="{{ page.next.url }}">&larr; Newer</a></li>
		{% else %}
		<li>&larr; Newer</li>
		{% endif %}
		{% if page.previous.url %}
		<li><a href="{{ page.previous.url }}">Older &rarr;</a></li>
		{% else %}
		<li>Older &rarr;</li>
		{% endif %}
		<li><a href="{{ site.baseurl }}">All work</a></li>
	</ul>
	{% endif %}
</div>
