@-webkit-keyframes dropin {
	from 	{ margin-top: 300px; }
	to  	{ margin-top: 0; }
}
@-moz-keyframes dropin {
	from 	{ margin-top: 300px; }
	to  	{ margin-top: 0; }
}
@keyframes dropin {
	from 	{ margin-top: 300px; }
	to  	{ margin-top: 0; }
}

body {
	background: #fff;
	color: #272d2c;
	font-family: "proxima-nova",sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0 0 100px 0;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold !important;
	line-height: 1.1;
}

h2 {
	margin-top: 2em;
}

h4 {
	margin-bottom: 0.3em;
}

p {
	margin-top: 0.3em;
}

a {
	color: blue;
}

ul, ol {
	padding: 0;
}

#posts {
	list-style: none;
	padding: 0;
	margin: 0;
}

#posts li {
	width: 300px;
	height: 300px;
	display: block;
	background: #dadada;
	overflow: hidden;
	float: left;
}

	#posts li.articles {
		background: #2096a3;
	}

	#posts>li.articles:nth-of-type(1n) {
		background: #2096a3;
	}

	#posts>li.articles:nth-of-type(2n) {
	  background: #1d8792;
	}

	#posts>li.articles:nth-of-type(3n) {
		background: #1b808b;
	}

	#posts>li.articles:nth-of-type(4n) {
		background: #1a7882;
	}

	#posts>li.articles:nth-of-type(5n) {
		background: #18707a;
	}

	#posts li.content {
		background: #DA6516;
	}

	#posts>li.content:nth-of-type(even) {
	  background: #c7570c;
	}

#posts li img {
	width: 100%;
	height: auto;
}

.posttileinner {
	padding: 20px;
	min-height: 300px;
	color: #fff;
	line-height: 1.4em;
}

.hasimage .posttileinner {
	display: none;
	color: #fff;
	background: #000;
	background: rgba(0,0,0,0.8);
}

.hasimage:hover .posttileinner {
	display: block !important;
	-webkit-animation-name: dropin;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: dropin;
	-moz-animation-duration: 0.2s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-in-out;
	animation-name: dropin;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

.thumbnail {
	z-index: -1000;
}

#posts li.noimage:hover {
	background: #000;
	color: #fff;
}

#posts li.noimage:hover .tiletitle a {
	color: #fff;
}

.boxlink {
	width: 300px;
	height: 300px;
	display: block;
/*	background: rgba(255,0,0,0.5);*/
	position: absolute;
}

/*Headings*/

	/*Main site title*/
		.sitetitle {
			font-size: 18px;
			text-align: center;
			margin: 0;
			line-height: 70px;
		}

		.sitetitle a {
			color: #272d2c;
			text-decoration: none;
			display: block;

		}

	/*Article title in homepage tile*/
		.tiletitle {
			font-size: 24px;
			margin: 0 0 10px 0;
		}

		.tiletitle a {
			color: #fff;
			text-decoration: none;
		}

		.hasimage .posttileinner .tiletitle a {
			color: #fff;
		}

#content {
	clear: both;
}

.contentinner {
	width: 500px;
	margin: 0 auto;
	padding: 0;
}

.container {
	width: 900px;
	margin: 0 auto;
}

@media only screen and (min-width: 1300px) {
	.container {
		width: 1200px;
	}
}

@media only screen and (min-width: 1600px) {
	.container {
		width: 1500px;
	}
}

@media only screen and (min-width: 1900px) {
	.container {
		width: 1800px;
	}
}

/*Navigation*/

#nav {
	border-top: 1px solid #247D87;
	border-bottom: 1px solid #DA6516;
	line-height: 70px;
	height: 70px;
	margin: 100px 0;
}

#pagenav, #filtering, #piecenav {
	padding: 0;
	margin: 0;
}

#pagenav {
	float: left;
}

#filtering, #piecenav {
	float: right;
}

#pagenav li, #filtering li, #piecenav li {
	float: left;
	display: inline-block;
	color: #dadada;
}

#pagenav li {
	margin-right: 20px;
}

#filtering li, #piecenav li {
	margin-left: 20px;
}

#pagenav li a, #filtering li a, #piecenav li a {
	text-decoration: none;
	color: #272d2c;
	display: block;
}

/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      -ms-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#filtering {
	display: none;
}

.home #filtering {
	display: block;
}

iframe {
	border: none;
	margin-left: -200px;
}

.featureimg {
	width: 900px;
	height: auto;
	margin-left: -200px;
}
