body {
	background: #fff;
	color: #272d2c;
	font-family: "proxima-nova",sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0 0 50px 0;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold !important;
}

#posts {
	list-style: none;
	padding: 0;
	margin: 0;
}

#posts li {
	width: 300px;
	height: 300px;
	display: block;
	background: #dadada;
	overflow: hidden;
	float: left;
}

	#posts li.article {
		background: #247D87;
	}
	
	#posts li.review {
		background: #DA6516;
	}

#posts li img {
	width: 100%;
	height: auto;
}
	
.posttileinner {
	padding: 20px;
	min-height: 300px;
	color: #fff;
}

.hasimage .posttileinner {
	display: none;
	color: #fff;
	background: #000;
	background: rgba(0,0,0,0.7);
}

.hasimage:hover .posttileinner {
	display: block !important;
}

#posts li.noimage:hover {
	background: #000;
	color: #fff;
}

#posts li.noimage:hover .tiletitle a {
	color: #fff;
}

.boxlink {
	width: 300px;
	height: 300px;
	display: block;
/*	background: rgba(255,0,0,0.5);*/
	position: absolute;
}

/*Headings*/

	/*Main site title*/
		.sitetitle {
			font-size: 18px;
			text-align: center;
			margin: 0;
		}
		
		.sitetitle a {
			color: #272d2c;
			text-decoration: none;
			display: block;
			padding: 100px 0;
		}

	/*Article title in homepage tile*/
		.tiletitle {
			font-size: 24px;
			margin: 0 0 10px 0;
		}
		
		.tiletitle a {
			color: #fff;
			text-decoration: none;
		}
		
		.hasimage .posttileinner .tiletitle a {
			color: #fff;
		}

.container {
	width: 300px;
	margin: 0 auto;
}

#content {
	clear: both;
}

.contentinner {
	width: 500px;
	margin: 0 auto;
}

@media only screen and (min-width: 600px) {
	.container {
		width: 600px;
	}
}

@media only screen and (min-width: 900px) {
	.container {
		width: 900px;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

/*Navigation*/

#nav {
	border-top: 1px solid #247D87;
	border-bottom: 1px solid #DA6516;
	line-height: 70px;
	height: 70px;
	margin-bottom: 50px;
}

#pagenav, #filtering, #piecenav {
	padding: 0;
	margin: 0;
}

#pagenav {
	float: left;
}

#filtering, #piecenav {
	float: right;
}

#pagenav li, #filtering li, #piecenav li {
	float: left;
	display: inline-block;
	color: #dadada;
}

#pagenav li {
	margin-right: 20px;
}

#filtering li, #piecenav li {
	margin-left: 20px;
}

#pagenav li a, #filtering li a, #piecenav li a {
	text-decoration: none;
	color: #272d2c;
}

/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

#filtering {
	display: none;
}

.home #filtering {
	display: block;
}

iframe {
	border: none;
}