{% include header.html %}

	<div class="container">
	{% include masthead_home.html %}
		
	<div id="content">
		
		{{ content }}

		<ul id="posts">
		{% for post in site.posts %}
		
			{% if post.image %}
			<li class="hasimage {{ post.category }}" style="background: url({{ post.image }})">
			{% else %}
			<li class="noimage {{ post.category }}">
			{% endif %}
				
				<a class="boxlink" href="{{ post.url }}"></a>
				
				<div class="posttileinner">
					<h2 class="tiletitle"><a href="{{ post.url }}">{{ post.title }}</a></h2>
					{% if post.excerpt %}
					{{ post.excerpt }}
					{% endif %}
				</div> <!-- /posttileinner -->
			
			</li>
		
		{% endfor %}
		</ul>
		
		

	</div> <!--/content-->
	</div> <!--/container-->
	
{% include footer.html %}